* {
  margin: 0;
  padding: 0;
}
.App {
  font-family: sans-serif;
}

.page--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 380px;
  margin: 0 auto;
  padding: 7px;
}
.visit--card {
  padding: 7px;
  border: 1px solid black;
  margin-bottom: 5px;
}
